<h1>Todos los Productos con Websockets</h1>
<hr>
<ol id="productList">
    {{#each products}}
        <li>{{title}}</li>
    {{/each}}
</ol>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/ws.js"></script>