<h1>Todos los Productos con Websockets</h1>
<hr>
<ol id="productList">
    {{#each products}}
        <li>
            <div>
                <h2>{{title}}</h2>
                <p>{{price}}</p>
            </div>
        </li>
    {{/each}}
</ol>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/ws.js"></script>